<div id="smart-cart-drawer" class="smcadr_mainwrapper smcadr_open" style="--transform-position:;">
  <div class="smcadr_wrap" style="">
    <div class="smcadr_header_cnt">
      <h2 class="smcadr-heading" data-smcadr-heading></h2>
      <span class="smcadr_items_counts" data-smcadr-item_count></span>
      <button class="smcadr_closebtn" type="button" aria-label="Close cart">
        <svg class="smcadr_close_svg" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#0F1729"/>
        </svg>
      </button>
    </div>
    <div class="cart-items" data-smcadr-items>
      {% for item in cart.items %}
        <smcadr-item data-item-key="{{ item.key }}">
          <div class="cart_item_image">
            <img
              src="{{ item.image.src | image_url  }}"
              alt="{{ item.image.alt | append: item.product.title }}"
              width="100"
              height="100"
            >
          </div>
          <div class="cart_item_info">
            <p>{{ item.product.title }}</p>

            {%- for option in item.options_with_values -%}
              <p>
                <span class="name">{{ option.name }}</span>:<span class="value">{{ option.value }}</span>
              </p>
            {%- endfor -%}

            <div class="item_quantity">
              <button class="item_decrease" name="minus" type="button">-</button>
              <input
                type="number"
                class="cart_quantity"
                data-variant_id="{{ item.variant_id }}"
                min="{{ item.variant.quantity_rule.min }}"
                max="{{ item.variant.quantity_rule.max }}"
                name="updates[]"
                step="{{ item.variant.quantity_rule.increment }}"
                value="{{ item.quantity }}"
              >
              <button class="item_increase" name="plus" type="button">+</button>
            </div>
          </div>
          <div class="cart_item_cnt">
            {%- if item.original_line_price > item.final_line_price -%}
              <s class="item_strike_price">{{ item.original_line_price }}</s>
            {%- endif -%}
            <p class="item_price">{{ item.final_line_price }}</p>
            <button type="button" name="remove">Remove</button>
          </div>
        </smcadr-item>
      {%- endfor -%}
    </div>
  </div>
  <div class="smcadr_overlay" data-smcadr-overlay></div>
</div>
